body {
    overflow: hidden;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.background {
    background-image: url('img/Illustration_TPH.png');
    background-size: cover;
    -webkit-filter: blur(150px);
            filter: blur(150px);
            height: 100vh;
}
h2 {
    padding: 20px;
    margin: 10px;
}

p {
    margin: 10px;
}

.cover {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    margin: 0;
    color: white;
}

.cover img {
    width: 40%;
    border-radius: 25px;
}

.platforms i {
    padding-right: 10px;
    margin-top: 20px;
}
.platforms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.platforms a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .cover img {
        width: 100%;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .platforms i {  
        display: -webkit-box;  
        display: -ms-flexbox;  
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}